main h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
    border-bottom: 1px dashed black;
}

table.list {
    margin-left: auto;
    margin-right: auto;
}


table.list, table.list th, table.list td {
    border-collapse: collapse;
    border: 1px solid black;

}

table.list th, table.list td {
    padding: 5px;
}
